{% extends "base/admin-base.html" %}
{% block container %}
{% load static %}

{% include 'includes/admin-nav.html' %}

<!--**********************************
    Content body start
***********************************-->
<div class="content-body">
    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">{{ sub_title }}</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">{{ name }}</a></li>
            </ol>
        </div>
    </div>
    <!-- row -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="heading-line">
                            <h4 class="card-title m-0 p-0">{{ name }}</h4>
                            <a href="{% url 'managers:offer_add' %}" class="btn btn-primary float-right">Add New Baner</a>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered zero-configuration">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>NAME</th>
                                        <th>IMAGE</th>
                                        <th>URL</th>
                                        <th>ACTIONS</th>                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for instance in instances %}
                                    <tr>
                                        <td>{{ instance.id }}</td>
                                        <td>{{ instance.name }}</td>
                                        <td><img src="{{ instance.image.url }}" alt="image" style="width: 80px; border-radius: 8px;"></td>
                                        <td>{{ instance.url }}</td>
                                        <td>
                                            <a href="{% url 'managers:offer_edit' instance.pk %}" class="btn btn-sm btn-info">Edit</a>
                                            <a href="{% url 'managers:offer_delete' instance.pk %}" class="btn btn-sm btn-danger">Delete</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #/ container -->
</div>
<!--**********************************
    Content body end
***********************************-->

{% endblock %}
