{% extends "base/admin-base.html" %}
{% block container %}
{% load static %}

{% include 'includes/admin-nav.html' %}

<!--**********************************
    Content body start
***********************************-->
<div class="content-body">
    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">{{sub_title}}</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">{{name}}</a></li>
            </ol>
        </div>
    </div>
    <!-- row -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card" style="background-color: #b5c8eb;">
                    <div class="card-body">
                        <h4 class="card-title">{{name}}</h4>
                        <div class="basic-form">
                            <form action="" method="post" enctype="multipart/form-data" class="ajax redirect">
                                {% csrf_token %}
                                <div class="form-row">
                                    <!-- Option Name -->
                                    <div class="form-group col-12 col-md-6">
                                        <label>Option Name</label>
                                        {{ form.name }}
                                    </div>
                                    <!-- Product -->
                                    <div class="form-group col-12 col-md-6">
                                        <label>Product</label>
                                        {{ form.product }}
                                    </div>
                                    <!-- Color -->
                                    <div class="form-group col-12 col-md-6">
                                        <label>Color</label>
                                        {{ form.color }}
                                    </div>
                                    <!-- RAM -->
                                    <div class="form-group col-12 col-md-6">
                                        <label>RAM</label>
                                        {{ form.ram }}
                                    </div>
                                    <!-- Storage -->
                                    <div class="form-group col-12 col-md-6">
                                        <label>Storage</label>
                                        {{ form.storage }}
                                    </div>
                                    <!-- Regular Price -->
                                    <div class="form-group col-12 col-md-6">
                                        <label>Regular Price</label>
                                        {{ form.regular_price }}
                                    </div>
                                    <!-- Sale Price -->
                                    <div class="form-group col-12 col-md-6">
                                        <label>Sale Price</label>
                                        {{ form.sale_price }}
                                    </div>
                                    <!-- Stock -->
                                    <div class="form-group col-12 col-md-6">
                                        <label>Stock</label>
                                        {{ form.stock }}
                                    </div>
                                    <!-- Submit Button -->
                                    <div class="form-group col-12">
                                        <button class="btn login-form__btn submit button" type="submit">Submit</button>
                                    </div>
                                </div>
                                {% if error %}
                                    <p>{{ message }}</p>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #/ container -->
</div>
<!--**********************************
    Content body end
***********************************-->

{% endblock %}
